body,
button {
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
  background-color: #f5f4fa;
}
a,
address {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: tomato;
  outline: 2px solid tomato;*/
}

.container-header {
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.17;
  text-align: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 55px; */
}

.navigation li {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
.active-navigation {
  background-color: white;
  font-weight: 800;
  border-radius: 15px 15px 0px 0px;
}

.table-wrapper {
  background-color: white;
  padding: 10px;
}

.table-wrapper table {
  width: 100%;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: white;
}

.features-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid black;
  background-color: #f5f4fa;
}

.features-button:hover,
.features-button:focus {
  background-color: lightgrey;
}

.flash {
  background-color: tomato;
  padding: 10px;
}
