[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
