{% extends 'base.html' %}
{% block header %}
<nav>
    <h1 class="container-header">Helper APP</h1>
    <ul class="navigation">
        <li><a href="{{ url_for('contact.index') }}">Contacts</a></li>
        <li><a href="{{ url_for('notes.index') }}">Notes</a></li>
        <li class="active-navigation"><a href="{{ url_for('clean.clean') }}">Cleaner</a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="table-wrapper">
    <form method="post">
        <label for="path"></label>
        <input name="path" id="path" value="{{ request.form['path'] }}" required>
        <input type="submit" value="Clean">
    </form>
</div>

{% if message %}
<div>{{ message }}</div>
{% endif %}

{% endblock %}